
 

/* .home-page .row{
  min-height: 100vh;
} */

.home-page .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-page .text h6{
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  color: rgb(108, 108, 108);
  padding-left: 5px;
}
.home-page .text .idea{
  font-size: 30px;
}
.home-page .text .idea span{
  color: #5B41DE;
  text-decoration-line: underline;
  text-decoration-color: #FCF150;
}
.home-page .text .name {
  font-size: 40px;
  font-weight:bold;
  color: #313131;
}
.home-page .text .name span{
  color: #5B41DE;
}
.home-page .text p{
  color: rgb(80, 80, 80);
  font-size: 16px;
  font-weight: 400;
}
.home-page .typed{
  font-size: 22px;
  color: #5B41DE;
}


.text button{
  width: 150px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #5b41de;
  color: #fff;
  font-size: 17px;
  border: 1px solid #5b41de;
  border-radius: 3px;
}
.text button:last-child{
  
  background-color: transparent;
  color: #5b41de;
  border: 1px solid #5b41de;

  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;

}

.text button:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #5B41DE, #5B41DE);
  z-index: -1;
  transition: transform 0.5s ease-in-out;
  transform: translateY(-100%);
  color: #fff;

}

.text button:last-child:hover::before {
  transform: translateY(0);

} 
.text button:last-child:hover{
  color: #fff;
  box-shadow: 0px 1px 9px #5b41de;
  border: none;

}

.text button:first-child:hover{
  box-shadow: 0px 1px 9px #5b41de;

}




.home-page .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-page .right img{
  background: transparent;
  z-index: -1;
  background-size: cover;
}

@media (max-width: 760px) {
  .home-page .row{
    padding-top: 20px !important;
  }
  .home-page .row h1{
    font-size: 29px !important;
  }
  .home-page .row .typed{
    font-size: 18px ;
  }
  .home-page .row p{
    font-size: 13px;
  }
  .home-page .text button{
    width: 130px;
    font-size: 13px;
    padding: 9px 0px;
  }
}

  



/* services page */
.services h1{
  color: #257F2D;
}
.services .education h1{
  color: #fff;
  color: rgb(185, 220, 243);
}
.service-card {
  background-color: rgb(238, 238, 238);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

}
  
.service-card:hover {
  transform: translateY(-5px);
}

.service-card img {
  max-height: 100px;

  mix-blend-mode:darken;
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #5b41de;
}
.service-card p{
  font-size: .9rem;
  color:#161616;
}
.progress{
  height: 4px;
  background-color: #fff;

}


/* education skils*/

.education{
  margin-top: 80px;
  background-color: #02749a;
  color: white;
  margin-bottom: 30px;
  border-radius: 8px;
}
.education .row{
  padding: 30px 0px 30px 0px;
}
.education h1{
  font-size: 50px;
  margin-bottom: 30px;
  padding-top: 30px;
  color: #f4e401 !important;
  
  
}
.education .row h2{
  font-size: 30px;
  color: #fff;
  /* font-weight: bold; */
  text-align: left;

}
.education .row h5{
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #FCF150;
  

}


/* contact side */


.contact .contact-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .contact .row{
  width: 100%;
} */


.contact .row .heading h2{
  text-align: center;
  font-size: 35px;
  color: #5943c6;
  padding-top: 0;
  margin-bottom: 50px;
  text-transform: capitalize;

  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
.contact .row .heading{
  margin-top: 25px;
  padding-top:10px;
  /* margin-bottom: 100px; */
}
.contact .row .heading h2 span{
  text-transform:capitalize;
  color: #066b0e;
  text-decoration:underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #f5f1c2;
  display: inline-block;
  min-width: 100px; 
  text-align: left;
  font-size: 32px;
  font-weight: 350;
}

.contact .row .details .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FCF150;
  color: #257F2D;
}
.contact .row .details .body{
  margin-top: 20px;
}

.contact .row .details .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* padding-top: 6px; */
  padding-left: 15px;
  overflow:hidden;
}
.contact .row .details .text h2{
  font-size: 25px;
}

.contact .row .details .text h4{
  font-size: 15px;
  color: #666;
}


.contact .card-body .card-icon{
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;

}

.contactForm h3{
  font-size: 30px;
  color: #5B41DE;
  font-weight: 500;

}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea

{
  width: 100%;
  pad: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transform: 0.5s;
  color: #7e7d7d;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span
{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);

} 
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
 
  width: 70px;
  background-color: #5B41DE;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  padding:  2px 5px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.contact-body1 .details{
  width: 100%;
  /* padding: 0px 80px; */
  padding-right: 30px;
  margin-right: 120px;
}
