/* navbar.css */
.navbar{
  padding-left: 35px;
  padding-right: 35px;
}
.navbar-brand{
  font-size: 1.5em; 
  font-family: 'Poppins', sans-serif; /* Use a modern font */
  text-decoration: none;
  color: #333; /* Darker shade for better contrast */
  font-weight: bold;
  letter-spacing: 2px; /* Add spacing between letters */
  background: linear-gradient(45deg, #0077B5, #f71b64); /* Apply a color gradient */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Make the gradient visible inside the text */
  transition: color 0.3s ease;
  /* padding-left: 25px; */
}
.navbar-nav{
  width:500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  position: relative;
  display: inline-block;
  color: #015887;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 1px;
  transition: color 0.3s, font-weight 0.3s;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #015887; /* Line color */
  transition:  0.3s ease;

}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  color: #d92f70; 

}

.nav-link:hover {
  color: #015887;
}

.nav-link .active {
  font-weight: 100;
  color: #d92f70; 
}

.nav-item a.onclik{
  color: red;
  text-decoration: underline;
}




.download-button {
  background-color: #fff;
  border: 1px solid #5b41de;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  animation: border 2s linear infinite;
  color: #f71b64;
  font-weight: 500;
  filter: drop-shadow(0px 1px 1px #5a46bc);
}

.download-button:hover {
  color: #0077B5;
}

@keyframes border {
  0% {
    border-color: #0077B5 transparent transparent transparent;
  }
  25% {
    border-color: #0077B5 #0077B5 transparent transparent;
  }
  50% {
    border-color: transparent #0077B5 #0077B5 transparent;
  }
  75% {
    border-color: transparent transparent #0077B5 #0077B5;
  }
  100% {
    border-color: #0077B5 transparent transparent #0077B5;
  }
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 150px;
  background: rgba(0, 119, 181, 0.9); /* Transparent background */
  height: 100%;
  background-color: rgba(248, 249, 250, 0.9); /* Transparent background color */
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 60px;
}


.sidebar.open {
  left: 0;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
}

.sidebar-nav li {
  margin: 20px 0;
  text-align: center;
}

.sidebar-nav li a {
  display: flex;
  justify-content: end;
  align-items: end;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  display: block;
  letter-spacing: normal;
  padding-right: 25px;
}
.sidebar-nav li a :hover{
  color: #007bff !important;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
}

/* Social media icon styles */
.sideicon {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  left: -18px;
}

.sideicon .icon {
  font-size: 28px;
  margin: 20px 0;
  transition: color 0.3s ease;
}

.sideicon .icon:first-child {
  color: #E1306C;
}

.sideicon .icon:nth-child(2) {
  color: #181717;
}

.sideicon .icon:last-child {
  color: #0077B5;
}

.sideicon .icon:hover {
  color: #007bff;
}

/* Navbar styles */
.navbar {
  position: relative;
  z-index: 1050;
}

.navbar-toggler {
  border: none;
  font-size: 24px;
}

.collapse.show {
  display: block !important;
}
@media (max-width: 320px) {
  .navbar{
    padding: 0px !important;
  }
}
@media (min-width: 768px) {
  .collapse {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      justify-content: flex-end;
      /* flex-basis: auto; */
  }
}